@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Helvetica 25 UltraLight', sans-serif;
  color: aliceblue;
  text-decoration: none;
}

#bod {
  background-color: rgb(13, 17, 23);
  /* display: grid;
  grid-template-rows: 12 1fr;
  width: 100%;
  height: 100%;
  gap: 10px; */
}

:root {
  --anyBorder: 1px solid rgb(48, 54, 61);
  --anyContainer: rgb(22, 27, 34);
  --hoverElm: rgb(164, 159, 164, 1);
  --color-icon: #7d8590;
}
.colorlinedark {
}
body {
  /* overflow-y: hidden; */
  /* overflow: hidden; */
}
header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--anyContainer);
  padding: 16px 23px;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.linkLogo {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
}
.logo:hover {
  opacity: 0.6;
}

.cont-search {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search {
  border: var(--anyBorder);
  background-color: transparent;
  width: 325px;
  padding: 9px 30px 5px 30px;
  border-radius: 5px;
  color: #bec0c4;
}

.cont-search:hover .search {
  background-color: rgb(13, 17, 23, 1);
}

.fa-search,
.slash {
  position: absolute;
  padding: 0 10px;
}
.fa-search {
  left: 0;
  top: 10px;
  color: var(--color-icon);
  font-size: 14px;
}
.slash {
  right: -5px;
  width: 42px;
  height: 20px;
}
/* .arow {
  color: rgb(0, 0, 0);
} */

.arowdark {
  color: white;
}

.cont-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 550;
}
.cont-link a {
  font-size: 13px;
}

.cont-link a:hover {
  color: var(--color-icon);
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 13px;
}

#dark-mood {
  color: var(--color-icon);
  font-size: 20px;
  cursor: pointer;
}

.color-span {
  color: black;
}

/* .logo-footer {
  width: 24px;
  height: 24px;
  opacity: 0.4;
} */
.colorline {
  color: black;
}
.icon-text:hover .colorline {
  color: white;
}
.fa-bell {
  position: relative;
  cursor: pointer;
}
.fa-bell:hover {
  color: var(--hoverElm);
}
.fa-bell::after {
  content: '';
  background-image: linear-gradient(#54a3ff, #006eed);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -5px;
}
.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 15px;
}

.iconadd {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fa-plus {
  font-size: 14px;
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: var(--anyContainer);
  width: 160px;
  gap: 8px;
  padding: 8px;
  left: -145px;
  top: 20px;
  border: var(--anyBorder);
  border-radius: 5px;
  transition: 0.3;
  z-index: -20;
}
.dropdown-content a:hover {
  background-color: #006eed;
}

.dropdown-content a {
  padding: 5px;
}

.img-profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.img-profile img {
  width: 20px;
  border-radius: 50%;
}

.fa-caret-down {
  font-size: 10px;
}

.scircl {
  position: relative;
}
.scircl::after {
  content: '';
  background-image: linear-gradient(#54a3ff, #006eed);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: -9px;
}

.iconadd {
  cursor: pointer;
}
.iconadd:hover .fa-plus,
.iconadd:hover .fa-caret-down {
  color: var(--hoverElm);
}
.img-profile {
  cursor: pointer;
}
.img-profile:hover .img-prof {
  opacity: 0.6;
}

.img-profile:hover .scircl {
  color: var(--hoverElm);
}

main {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 20px;
  align-items: center;
}

svg {
  fill: var(--color-icon);
}

.content-upline {
  display: flex;
  align-items: center;
  margin-top: 30px;
  position: relative;
  grid-column: 3/13;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

/* .content-upline::-webkit-scrollbar {
  display: none;
} */

.line {
  background-color: rgb(48, 54, 61);
  height: 1px;
  grid-column: 1/13;
  margin-top: -40px;
  /* z-index: -1; */
  width: 100%;
}
.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  padding: 7px 13px;
}

.icon-text:hover {
  background-color: rgb(33, 38, 44);
  border-radius: 10px;
}

.icon-text::after {
  content: '';
  position: absolute;
  background-color: rgb(247, 129, 102);
  width: 0%;
  height: 2px;
  bottom: -15px;
  z-index: 100;
}
.icon-text:hover::after {
  width: 100%;
}

.container-left {
  grid-column: 2/3;
  width: 350px;
  display: grid;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  margin-top: -74px;
  gap: 10px;
}
.contentprofile {
  display: flex;
  flex-direction: column;
}
.icon-text a {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

#reponumber {
     color: rgb(0 0 0) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(162 159 159);
    /* padding: 2px; */
    border-radius: 50%;
    /* width: 20px; */
    /* height: 18px; */
    /* font-size: 10px; */
    padding: 3px 1px;
}
}
#btn-profile {
  padding: 7px;
  width: 300px;
  background-color: rgb(33, 38, 45);
  color: rgb(201, 209, 212);
  border: var(--anyBorder);
  border-radius: 10px;
  font-size: 15px;
  margin: 0 50px;
}

.text-dounimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  gap: 10px;
}
#nameUsers {
  color: var(--color-icon);
  font-size: 20px;
}
#name {
  font-size: 24px;
}

#img-users {
  width: 296px;
  height: 296px;
  border-radius: 50%;
}

.container-right {
  grid-column: 3/12;
  width: 100%;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}

.card {
  border: var(--anyBorder);
  height: 96px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 30px;
  border-radius: 10px;
}

.first button {
  background-color: transparent;
  border: var(--anyBorder);
  color: #7d8590;
  padding: 2px 7px;
  border-radius: 10px;
  font-size: 10px;
}

.card a {
  color: #2f81f7;
  font-size: 15px;
}
.card a:hover {
  text-decoration: underline;
}
.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
}
.card h6 {
  color: var(--color-icon);
  display: flex;
  align-items: center;
  gap: 5px;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  gap: 40px 0;
  margin-top: 69px;
 
    padding: 0px 0 33px 0;
  display: grid;
  grid-template-columns: 12 1fr;
  width: 100%;
}
.link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0px 0 0px 30px;
}
.link-footer a {
  color: #2f81f7;
  font-size: 12px;
}
.link-footer a:hover {
  text-decoration: underline;
}
.lastFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-row: 2;
  grid-column: 1/2;
}
.lastFooter span {
  font-size: 12px;
  color: var(--color-icon);
}
#logo-footer {
  width: 24px;
  height: 24px;
  opacity: 0.4;
  border-radius: 50%;
}

#logo-footer:hover {
  cursor: pointer;
  opacity: 0.5;
}
footer::before {
  content: '';
  height: 0.5px;
  background-color: rgb(48, 54, 61);
  grid-row: 1;
  grid-column: 1/13;
}
.Link--secondary {
  color: var(--color-icon);
  display: flex;
  align-items: center;
  gap: 5px;
}
.p-label :last-child {
  color: var(--color-icon);
}
.rebort {
  font-size: 14px;
  color: var(--color-icon);
  margin: 0 50px;
}

.rebort:hover {
  color: #2f81f7;
  cursor: pointer;
}

.continer-followers {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  gap: 10px;
  padding: 0 0 0 50px;
}
.vcard-detail {
  display: flex;
  gap: 10px;
}
.first-row {
  display: flex;
  gap: 10px;
}

/* #nav-burger {
  display: none;
} */
#header {
  display: none;
}
@media (max-width: 990px) {
  header {
    display: none;
  }
  .dropdown,
  .img-profile {
    display: none;
  }
  .rebort {
    font-size: 14px;
    color: var(--color-icon);
  }
  .location-time {
    display: none;
  }
  #nav-burger {
    display: block;
  }
  .lastFooter {
    grid-row: 3;
    grid-column: 1/13;
  }
  .link-footer {
    padding: 0;
    grid-column: 1/13;
  }
  .line {
    grid-row: 3;
  }
  .cont-link a {
    display: none;
  }
  .cont-search {
    display: none;
  }
  .container-right {
    grid-column: 1/13;
    width: 100%;
    padding: 0 20px;
  }
  .cards {
    grid-template-columns: auto;
  }

  .content-upline {
    grid-row: 2;
    grid-column: 2/13;
    overflow: auto;
  }
  .container-left {
    grid-column: 1/13;
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
  }
  #img-users {
    width: 35vmin;
    height: 35vmin;
  }
  .text-dounimg {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    padding: 0 20px;
  }
  #btn-profile {
    width: 90%;
    grid-row: 2;
    margin: auto;
  }
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

@media (max-width: 1070px) {
  header {
    display: none;
  }
  #header {
    display: none;
  }
  .cont-vs {
    width: 280px;
  }
  #header {
    background-color: var(--anyContainer);
    justify-content: space-between;
    align-items: center;
    gap: 37px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 16px 23px;
  }
  header {
    /* display: none; */
  }

  /* .cont-link a {
    display: none;
  }
  .cont-search {
    display: none;
  }
  .iconadd {
    display: none;
  }
  .img-profile {
    display: none;
  } */
  #btn-compartion,
  .in {
    width: 47vmin;
    height: 10vmin;
  }

  section {
    /* flex-direction: column; */
    gap: 25px;
  }
  #nav-burger {
    cursor: pointer;
  }
  .lastFooter {
    grid-row: 3;
    grid-column: 1/13;
  }
  .link-footer {
    padding: 0;
    grid-column: 1/13;
  }
  .line {
    grid-row: 3;
  }
}

#burger {
  /* margin-bottom: 900px; */
  position: absolute;
  top: 64px;
  background-color: rgb(22, 27, 34);
  width: 100%;
  padding: 20px;
}
.lin-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 19px;
}
.link-burger {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.showdrop {
  /* display: none; */
  flex-direction: column;
  width: 100%;
  gap: 40px;
  /* display: none; */
  display: flex;
}

.cont-search-input {
  display: block;
  width: 100%;
  display: flex;
}
.searchBurger {
  width: 100%;
  display: block;
}
.link-burger a {
  position: relative;
}
.link-burger a::before {
  content: '';
  /* width: 100vw; */
  /* height: 2px; */
  background-color: rgba(118, 118, 118, 30%);
  position: absolute;
  width: 93vw;
  height: 0.1px;
  top: -14px;
}

.drop {
  display: block;
  display: flex;
  align-items: center;
}
/* //fetch get users secon */
